.loginScreen {
  position: relative;
  height: 100%;
  background: url("https://data.whicdn.com/images/332258768/original.jpg?t=1562081699");
  background-size: cover;
}
.loginScreen-logo {
  position: fixed;
  left: 0;
  width: 170px;
  object-fit: contain;
  padding-left: 1.4rem;
}
.loginScreen-button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.loginScreen-gradient {
  width: "100%";
  z-index: 1;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.89) 0,
    rgba(0, 0, 0, 0.459) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: "rgba(0,0,0,0.4)";
}
.loginScreen-body {
  z-index: 1;
  color: white;
  padding: 20px;
  position: absolute;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  left: 0;
  right: 0;
}

.loginScreen-body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}
.loginScreen-body > h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.loginScreen-body > h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.loginScreen-input > form > input {
  padding: 10px;
  outline-width: 0;
  height: 30px;
  width: 30%;
  border: none;
  max-width: 600px;
}
.loginScreen-getStarted {
  padding: 16px 20px;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.loginScreen-input {
  margin: 20px;
}
